<a href="https://colab.research.google.com/github/SANCHIT157/SANCHIT157/blob/main/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# OPERATIONS IN TUPLES
my_tuple1= ("facts","data","information","knowledge","wisdom")
my_tuple2= (1,2,3,4,5)
for k in range(len(my_tuple1)):
    print(my_tuple2[k],"-",my_tuple1[k])

In [ ]:
# OPERATIONS IN SETS
set1 = set()
set2 = set()
print("ENTER NAMES OF THOSE STUDENTS WHO SCORED FULL MARKS IN PHYSICS")
for k in range(6):
    set1.add(input())
print("ENTER NAMES OF THOSE STUDENTS WHO SCORED FULL MARKS IN CHEMISTRY ")
for k in range(6):
    set2.add(input())
print("NAMES OF THOSE STUDENTS WHO SCORED FULL MARKS IN PHYSICS AS WELL AS CHEMISTRY - ",(set1&set2))

In [ ]:
# OPERATIONS IN LISTS
list_name = []
list_marks = []
print("ENTER THE NAMES AND MARKS OF 5 STUDENTS")
for k in range(5):
    list_name.append(input())
    list_marks.append(int(input()))
print("NAMES OF STUDENTS WHO SCORED MORE THAN 90")
for k in range(5):
    if list_marks[k]>90:
     print(list_name[k],"-",list_marks[k])

In [ ]:
# USE OF FUNCTIONS 
def add(a,b):
 print("SUM = ",(a+b)) 

def mul(a,b):
 print("PRODUCT = ",(a*b))

add(5,20)
mul(5,20)

In [ ]:
# USE OF DICTIONARY 
# WAP TO TAKE NAMES AND MARKS OF 5 STUDENTS AS INPUT AND DISPLAY THE NAMES OF THOSE STUDENTS ALONG WITH THEIR MARKS.
my_name=input("ENTER A NAME")
marks=input("ENTER MARKS")
my_dic={my_name:marks}
for i in range(4):
   my_name=input("ENTER NAME")
   marks=input("ENTER MARKS")
   my_dic[my_name]=marks
print(my_dic)